<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY PROJECT 02 - vines</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link rel="stylesheet" href="style.css">
   
</head>

<body >
    <nav>
    <div class="nav-wrapper teal lighten-2">
      <a href="#" class="brand-logo right">MN</a>
      
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Add a product</a></li>
        <li><a href="/list">Product list</a></li>
        <li><a href="/order">Order list</a></li>
        <a class='dropdown-trigger btn' href='#' id = 'dropdown' data-target='dropdown1'>User</a>

        {{#if login}}
           <ul id='dropdown1' class='dropdown-content'>
             <li><a href="/user/profile">User account</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="/user/logout">logout</a></li>
           </ul>
           {{else }}
            <ul id='dropdown1' class='dropdown-content'>
             <li><a href="/user/signup">signup</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="/user/signin">signin</a></li>
           </ul>
        {{/if}}
        {{#if user}}
        User: {{user.email}}
        {{/if}}
      </ul>
      
    </div>
  </nav>
  <div class="divider"></div>
  <div class="container">

    {{{body}}}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
    M.FormSelect.init(document.querySelector('#vineRate'))
    M.FormSelect.init(document.querySelector('#vineCountry'))
    M.FormSelect.init(document.querySelector('#vineType'))
    M.Dropdown.init(document.querySelector('#dropdown'))
    </script>
  
</body>
</html>