<form action="/" method="POST" autocomplete="off">
    <label for="vineName">Vine name</label>
    <input type="text" name ="vineName" >

    <label for="vinePrice">Vine Price</label>
    <input type="number" name ="vinePrice" >

    <label for="vineType"> Vine type</label>
    <select id='vineType' name ="vineType" >
        <option value="Red" selected>Red</option>
        <option value="White">White</option>
    </select>

    <label for="vineCountry"> Vine origin </label>
    <select id='vineCountry' name ="vineCountry" >
        <option value="Italy" selected>Italy</option>
        <option value="France">France</option>
        <option value="Spain">Spain</option>
        <option value="Germany">Germany</option>
        <option value="Poland">Poland</option>
        <option value="Hungary">Hungary</option>
    </select>

    <label for="vineRate"> Vine rate</label>
    <select id='vineRate' name ="vineRate" >
        <option value="table vine" selected>table vine</option>
        <option value="good choice">good choice</option>
        <option value="excelent choice">excelent choice</option>
    </select>

    
    <button class="btn waves-effect waves-light teal lighten-2  white-text" type="submit"> add</button>

</form>