
<table> 
<thead>
  <tr>
    <th "center-align"> User</th>
    <th "center-align"> Order list</th>
    <th "center-align"> Total price</th>
  </tr>

</thead>
{{#each Data}}
<tr>
<td>{{inputEmail}}</td>
<td>{{inputNames}}</td>
<td>{{inputSum}} Eur</td>
</tr>

  
  
{{/each}}


</table>