<style>
    .text-white {
  color: white;
}
</style>

<div class="row">
<div class=" card col  m12 l6 xl4">

    <h1>Sign In </h1>
    {{#if messages.error}}
          {{messages.error}}
       {{/if}}
    <form action="/user/signin" method='post' autocomplete="off">
<div class="form-group">
<label for="email">E-Mail</label>
<input type="text" id="email" name="email" >
</div>

<div class="form-group">
<label for="password">password</label>
<input type="password" id="password" name="password" >
</div>
<p></p>
<button type="submit" class="waves-effect waves-light btn ">Sign In</button>
<p></p>
    </form>
    <button class="waves-effect waves-light btn text-white"><a class="text-white" href="/user/signup">create account</a></button>
   <p></p>
</div>

</div>