<div class="row">
<div class=" card col  m12 l6 xl4">

    <h1>Sign Up </h1>
    Validation Errors
    <form action="/user/signup" method='post' autocomplete="off">
<div class="form-group">
<label for="email">E-Mail</label>
<input type="text" id="email" name="email" >
</div>

<div class="form-group">
<label for="password">password</label>
<input type="password" id="password" name="password" >
</div>
<p></p>
<button type="submit" class="waves-effect waves-light btn ">Sign Up</button>
<p></p>
    </form>
   
</div>

</div>