.card-title {
  font-weight: bold !important;
}

.card-action {
  font-weight: bold !important;
}

.card {
  overflow: hidden;
}
.text-white {
  color: white;
}
.welcome {
  list-style: none;
}

.none {
  display: none;
}

.shoppingCart {
  position: fixed;
  top: 70px;
  left: 20px;
  padding: 10px;
}
